.footer{
    min-height: 50px;
    max-height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-primary);
    color:var(--text-white)
}

.footer p{
    margin: 0;
}